body {

    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #212121;
    padding: 15px;
}


.caja{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid rgb(59, 59, 59);
    background: #f5f5f5;
    
    
}

.cajauser{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid rgb(59, 59, 59);
    background: #f5f5f5;
}

.caja1{
    
    text-align: center;
    background: #eeeeee;
    
   
}



.caja2{
    text-align: center;
    border: 1px solid whitesmoke;
    background: #bdbdbd;
}



.img img{
    
    border: 2px solid black;
}

.img img:hover{
    transform: scale(0.9);
    transition: all 0.5s ease; 
   
}


.redes {
   
    margin: 25px;
   
}
.redes i {
    border-radius: 45px;
    border: 1px solid rgb(122, 122, 122);
    padding: 15px;
    font-size: 35px;
    color: rgb(92, 92, 92);
    width: 65px;
    text-align: center;
    margin-right: 15px;
   
   
    
}

.redes i:hover {

    transform: scale(0.9);
    transition: all 0.5s ease; 
    border: 2px solid black;
}

.button{
    background: darkgray;
}





@media screen and (min-width:1000px) {
   
  
    .caja{
        display: grid;
        grid-template-columns: 2fr 1fr;
        border: 1px solid rgb(59, 59, 59);
        background: #f5f5f5;
                
    }

    .cajauser{
        display: grid;
        grid-template-columns: 1fr 2fr;
        border: 1px solid rgb(59, 59, 59);
        background: #f5f5f5;
    }
    

}



 /* label focus color */
 .input-field input:focus + label {
    color: rgb(0, 0, 0) !important;
}
/* label underline focus color */
  .input-field input:focus {
    border-bottom: 1px solid rgb(37, 38, 54) !important;
    box-shadow: 0 1px 0 0 rgb(86, 87, 86) !important;
  }




  